@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/*Buttons general*/
.button {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

/*Navigation*/
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}


.navigation-item {
  padding: 20px 16px;
}

/*Hero*/
.hero {
  background-image: url("../images/index-background.jpg");
  background-size: 100%auto;
  background-color: #ffffff;
  color: #000000;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}

/*Advantages*/

.advantages-content-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 69px;
}

.advantages-content-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-bottom: 69px;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 103px;
}

.advantages-description {
  color: #333333;
  padding-bottom: 103px;
  padding-left: 85px;
  padding-right: 85px;
}


.advantages-title-white {
  color: #ffffff;
}
.advantages-description-white {
  color: #ffffff;
}

.advantages-title-last {
  padding-top: 102px;
}

.advantages-description-last {
  padding-bottom: 102px;
}

.advantages-item {
  width: 400px;
  height: 385px;
  background-color:rgba(131, 179, 211, 0.12);
}

.advantages-item-white {
  background-color: #82B3D3;
}

.advantages-item-center {
  background-color: rgba(131, 179, 211, 0.20);
}

/*Recomendations*/
.recommendations-content-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 64px;
}

.recommendations-content-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-bottom: 64px;
}

.recommendations-list {
  text-align: center;
}

.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 80px;
  margin: 0;
}

.recommendations-description {
  color: #333333;
  padding-bottom: 80px;
  margin: 0;
}

.recommendations-item {
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendations-center {
  background-color: #FFFFFF;
}

/*Search*/
.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search {
  text-align: center;
}

/*Newsletter*/
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.field {
  line-height: 24px;
  width: 412px;
  height: 28px;
  background-color: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  padding: 12px 20px;
  border: 0;
}

.newsletter {
  background-image: url("../images/subscribe-background.jpg");
  /*background-size: 100%auto;*/
  background-repeat: no-repeat;
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 1200px;
  height: 414.86px;
  text-align: center;
}

/*Footer*/
.footer-contacts-address-phone {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

/*Buttons*/
.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button-submit {
  width: 232px;
  border-radius: 0px 4px 4px 0px;
  background-color: #82B3D3;
}

.navigation-link-button {
  display: block;
  color: #FFFFFF;
  width: 160px;
}

.button-search {
  display: block;
  width: 376px;
}

.social-button {
  /*background-color: transparent;*/
  padding: 0;
}

.button-submit {
  background-color: #82B3D3;
  width: 191px;
}

.button-reset {
  background-color: transparent;
}

/*Catalog*/
.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  /*color: #FFFFFF;*/
}

/*Breadcrumbs*/
.breadcrumbs-link {
  font-size: 16px;
  /*color: inherit;*/
}

/*Filter*/
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  /*color: #FFFFFF;*/
}

.control-input {
  line-height: 23px;
  /*color: #FFFFFF;*/
}

.filter-hotels {
  background-image: url("../images/filter-background.jpg");
  /*background-size: 100%auto;*/
  background-repeat: no-repeat;
  /*background-color: #82B3D3;*/
  color: #FFFFFF;
 }

 .filter-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
 }

 /*Buttons-view-cards*/
.button-view-card {
  text-decoration: none;
}

 .button-view-card-current {
  border-radius: 4px;
  border: 2px solid  #000000;
}

/*.select-control {
  width: 292px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}*/

/*Catalog of hotels*/
.hotel-card-title-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.hotel-type {
  color: #000000;
}

.hotel-price {
  color: #000000;
}

.hotel-card-detail-link {
  display: block;
  width: 140px;
}

.hotel-to-favourites-button {
  display: block;
  width: 140px;
  background-color: #82B3D3;
}

.hotel-favourites-button {
  display: block;
  width: 140px;
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  border-radius: 4px;
  color: #000000;
  text-transform: uppercase;
}

/*Newsletter-catalog*/
.newsletter-catalog {
  background-image: none;
  background-color:  #FFFFFF;
}

.newsletter-title-catalog {
  color: #000000;
}

.newsletter-description-catalog {
  color: #000000;
}

/*Pagination*/
.button-next {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-current {
  color: #000000;
}

.pagination-item {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color:  #82B3D3;
}

.pagination-item-current {
  background-color:  #F2F2F2;
}
